/*--------------------------------------------------------------
# Adventures
--------------------------------------------------------------*/

.adventures-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 40px 0;
}

.adventure-wrapper {
	position: relative;
	flex: 0 0 49%;
	height: $fixed__width / 2;
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin: 1% 0;
	img {
		width: auto;
		height: 100%;
		max-width: none;
	}
	.overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		background: linear-gradient( rgba(0,0,0,0.3) , rgba(0,0,0,0.3));
	}
}

.adventure-content {
	h2.adventure-title {
		padding: 50px 20px;
		margin: 0;
		font-family: $font__main;
		font-weight: normal;
		font-size: 3.2rem;
		a {
			color: white;
			text-decoration: none;
			&:hover {
				color: $__yellow;
			}
		}
	}
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
}

.adventure-read-more {
	margin: 20px;
	transition: 0.5s;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	padding: 10px 20px;
	border: solid 0.5px white;
	font-size: 0.8rem;
	font-family: $font__accent;
	&:hover {
		transition: 0.5s;
		color: white;
		background-color: darken($__green, 10%);
		border-color: rgba(0,0,0,0);
	}
}

.adventure-page-title {
	margin: 0 0 20px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 2.5rem;
}

.adventure-page-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	border-bottom: dashed 1px rgba(0,0,0,0.3);
}




.adventure-single-site-main {
	width: 100vw;
}

.single-adventure .content-wrapper {
	width: 100vw;
}

.adventure-single-hero-banner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.adventure-single-post {
	display: flex;
	justify-content: center;
}

.adventure-single-container {
	width: $fixed__width;
	display: flex;
	justify-content: center;
	margin: 50px 0;
}

.adventure-single-wrapper {
	margin: 30px;
	width: 70%;
	margin: 10px 0;
	h1{
		text-transform: uppercase;
		margin: 0;
		font-size: 2.5rem;
		letter-spacing: 2px;
		line-height: 1.2;
	}
	
}

.adventure-single-meta {
	font-family: $font__accent;
	text-transform: uppercase;
	font-size: 1.2rem;
	margin: 1.2rem 0;
}

.adventure-single-content {
	font-size: 1rem;
	p span{
		line-height: $font__line-height-body;
	}
}