/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.container {
	width: $fixed__width;
}

.nav-wrapper {
	display: flex;
	align-items: center;
}

header.site-header {
	height: 50px;
	background-color: white;
}

/* Links */

	a {
		&:hover,
		&:active {
			outline: 0;
		}
	}

/* Menus */

	.main-navigation {
		clear: both;
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;

		ul {
			display: none;
			list-style: none;
			margin: 0;
			padding-left: 0;

			ul {
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				position: absolute;
				top: $base__space-unit;
				left: -999em;
				z-index: 99999;

				ul {
					left: -999em;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				a {
					width: 200px;
				}

				:hover > a,
				.focus > a {
				}

				a:hover,
				a.focus {
				}
			}

			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}
		li {
			float: left;
			position: relative;

			&:hover > a,
			&.focus > a {
			}
		}
		a {
			display: block;
			text-decoration: none;
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a {
		}
	}

/* Small menu. */
	.menu-toggle,
	.main-navigation.toggled ul {
		display: block;
	}

	@media screen and (min-width: 37.5em) {
		.menu-toggle {
			display: none;
		}
		.main-navigation ul {
			display: block;
		}
	}

	.comment-navigation,
	.posts-navigation,
	.post-navigation {

		.site-main & {
			margin: 0 0 $base__space-unit;
			overflow: hidden;
		}

		.nav-previous {
			float: left;
			width: 50%;
		}

		.nav-next {
			float: right;
			text-align: right;
			width: 50%;
		}
	}

/* Nav Logo */

	.site-branding {
		display: flex;
	}

	.nav-logo {
		height: 35px;
		width: 50px;
		z-index: 5000;
	}

	.white-logo {
		background-image: url(../../images/logos/inhabitent-logo-tent-white.svg);
	    background-size: cover;
	    background-position: center;
	}

	.green-logo {
		background-image: url(../../images/logos/inhabitent-logo-tent.svg);
	    background-size: cover;
	    background-position: center;
	}

	.logo-link {
		display: flex;
		align-items: center;
	}

/* Search Form in the Nav Bar */

	fieldset {
		z-index: 5000;
		padding: 0;
		text-decoration: none;
		border-style: none;
	}

	input.search-field {
		display: none;
		border-style: none;
		position: static;
		right: 0;
		background: none;
		&:focus{
			outline: none;
		}
	}

	.search-form {
		position: relative;
	}

	.search-submit {
		border: none;
		background: none;
		box-shadow: none;
	}

	i.fa-search-green {
		color: $__green;
		font-size: 1rem;
	}

	i.fa-search-white {
		color: white;
		font-size: 1rem;
		text-shadow: 1px 1px 2px black;
	}

	label input.search-field-white {
		color: white;
		font-family: $font__accent;
		font-size: 1.2rem;
		&:focus{
			color: white;
		}

	}

	label input.search-field-green {
		color: $__green;
		font-family: $font__accent;
		font-size: 1.2rem;
		&:focus{
			color: $__green;
		}

	}

/* Page links in nav bar */
	.main-navigation {
		display: flex;
		justify-content: flex-end;

		ul {
			display: flex;
			justify-content: flex-end;
		}

		a {
			margin: 0 10px;
			text-transform: uppercase;
			font-family: $font__accent;
			color: $__green;
		}
	}

	.white-nav-links a {
		color: white;
		text-shadow: 1px 1px 2px black;
	}

// hides site-header on home, about, adventure-single pages
	.home .hfeed .site-header, 
	.page-template-page-about .hfeed .site-header, 
	.single-adventure .hfeed .site-header{
		height: 0;
	}

// gets added on every other page but home, about, adventure single pages
	.fixed-nav {
		transition: 2s;
		height: 50px;
		width: 100vw;
		position: fixed;
		background-color: rgba(255,255,255,0.7);
		display: flex;
		justify-content: center;
		border-bottom-style: solid;
		border-width: 0.5px;
		border-color: rgba(0,0,0,0.2);
		z-index: 1000;
	}

// gets added only home, about, adventure single pages
	.front-about-nav {
		transition: 2s;
		height: 50px;
		width: 100vw;
		display: flex;
		justify-content: center;
		z-index: 1000;
	}

// in js --> replaces .fixed-front-about-nav after screen height
	.fixed-front-about-nav-scroll {
		position: fixed;
		background-color: rgba(255,255,255,0.7);
		border-bottom-style: solid;
		border-width: 0.5px;
		border-color: rgba(0,0,0,0.2);
		z-index: 1000;
	}

// in js -- > gets added tp .fixed-nav to change background opacity
	.fixed-nav-scroll {
		transition: 2s;
		background-color: rgba(255,255,255,0.8);
	}

